@charset "UTF-8";
html, body {
  height: 100%;
}

body {
  padding: 45px 0 50px;
}

img {
  width: 100%;
  display: block;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 头部 */
.pyg_header {
  position: fixed;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  padding: 5px 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 6px #ccc;
          box-shadow: 0 1px 6px #ccc;
}

/* 底部 */
.pyg_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pyg_footer a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #000;
}

.pyg_footer a .fa {
  font-size: 22px;
}

.pyg_footer a .link_name {
  font-size: 14px;
}
