 .pyg_view {
     background-color: #efeff4;
     .login_form{
         background-color: #fff;
         margin: 25px 0 30px 0;
     }
     .mui-btn {
         display: block;
         font-size: 18px;
         width: 100%;
         padding: 14px 0;
     }
     a:last-child {
         margin-top: 10px;
     }
 }