body {
  display: none;
}

.pyg_view {
  padding: 20px 10px 15px;
  overflow: scroll;
  height: 100%;
}

.pyg_view .pyg_userinfo {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pyg_view .pyg_userinfo .mui-icon-contact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #000;
  font-size: 40px;
}

.pyg_view .pyg_userinfo .user_wrap {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.pyg_view .pyg_userinfo .user_wrap .user_email {
  font-size: 14px;
  color: #666;
}

.pyg_view .pyg_order {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.pyg_view .pyg_order .order_title {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.pyg_view .pyg_order .order_content {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.pyg_view .pyg_order .order_content a {
  color: #007aff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pyg_view .pyg_order .order_content a p {
  color: #007aff;
  margin-bottom: 0;
}

.pyg_view .pyg_myPwd {
  margin-top: 15px;
}

.pyg_view .pyg_contack {
  margin-top: 15px;
}

.pyg_view .pyg_contack li:first-child .mui-pull-right {
  font-size: 15px;
  color: #000;
  font-weight: 600;
}

.pyg_view .me_tool {
  margin-top: 15px;
}

.pyg_view .me_tool #loginOutBtn {
  padding: 12px 0;
  width: 100%;
}
